
button {
    background-color: rgba(0, 151, 255, 0.99);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #5ec5f2;
    transform: scale(1.1);
}

button:active {
    background-color: #e31e67;
    transform: scale(0.9);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    padding: 20px;
    border-bottom: 1px solid #000000;
    font-size: 1.2rem;
}

